* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
}

body {
  background: #000;
  font-family: Arial, sans-serif;
}

/* PANTALLAS */
.screen {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
}

.hidden {
  display: none;
}

/* PARTICULAS */
.stars {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.stars::before,
.stars::after {
  content: "";
  position: absolute;
  inset: 0;

  background-image:
    radial-gradient(circle, white 1px, transparent 1.5px),
    radial-gradient(circle, white 1px, transparent 1.5px);

  background-size:
    150px 150px,
    230px 230px;

  background-position:
    20px 30px,
    100px 80px;

  opacity: 0.12;
}

/* FOTO CENTRAL */
.photo-frame {
  position: absolute;

  width: 340px;
  height: 340px;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  overflow: hidden;

  cursor: pointer;
  border: none;
}

/* IMAGEN */
.photo-frame img {
  width: 270px;
  height: 270px;

  object-fit: contain;
  display: block;

  user-select: none;
  -webkit-user-drag: none;
}

/* CELULAR */
@media (max-width: 600px) {

  .photo-frame {
    width: 82vw;
    height: 82vw;
  }

  .photo-frame img {
    width: 65vw;
    height: 65vw;

    max-width: 270px;
    max-height: 270px;
  }
}
